body,b,p,h1,h2,h3,h4,h5,h6,span,a,label,li,input,div,button,input,form{
    font-family: 'Cairo';

}

select{
  font-size: 12px !important;
}


body{
  height:100vh !important;

}

.main-sidebar{
  height:100vh !important;
  position: fixed;
   overflow-y: scroll;
   top: 0;
   padding-bottom: 60px;
   bottom: 0;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.main-sidebar:hover{
  height:100vh !important;
  position: fixed;
   overflow-y: scroll;
   top: 0;
   bottom: 0;

}




.header{
  background-color: #ececec28 !important;
  padding:0;
transition: 0.5s;
}


.header a {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;

  background-color: #21beda  !important;
  color: #fff  !important;
  padding:10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.header a:hover {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  scale: calc(1.05) !important;
  letter-spacing: 2px;
  border-radius: 5px;

}


.fa-th-large{
  font-size: large;
/* margin:5px !important; */
opacity: 0.8 !important;
color: #047386;
}
.fa-pie-chart{
  font-size: large;
/* margin:5px !important; */
opacity: 0.8 !important;
color: #047386;

}
.level-two span {
text-decoration: none !important;
}
.level-two .treeview .ion-ios-people{
  font-size: medium;
}
.level-two .treeview i {
  font-size: medium;
  color:#047386;

}
.active span {
/* opacity: 0.8; */
font-size: 14px;
font-weight: 700;
text-transform: capitalize;
color: #047386;
text-decoration: none !important;
}
.treeview a{
  text-decoration: none !important;

}

.treeview > a{
  background-color:#fff !important;

  border-radius: 5px;
  margin-top:8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.treeview > a:hover{
  background-color:#35e1ff !important;
  border-radius: 5px;
  margin-top:8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.treeview .treeview-menu {
background-color: #fff;

background-color: #fff;
min-height: 40px;
  font-size: 20px !important;
}
.treeview .treeview-menu  li a ,
.client_side a {
background-color: #fff;
min-height: 40px;
  font-size: 12px !important;
  color:#1b1b1bb6 !important;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-top:10px;
border-radius: 5px;
}
.treeview .treeview-menu  li a:hover,
.client_side a:hover {
background-color: #35e1ff;
font-weight: 700;
}




.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
  background-color: #fff;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
  margin: 0 1px;
  background: #fff;
}
.navbar-static-top .fa-exchange{
  font-size: 12px;
  margin-top: 10px;
  margin:5px;
  padding:8px;
  color: #035463;
  text-decoration: none;
  background-color: #f7e331;
  box-shadow: 0 1px 3px 0 rgba(65, 65, 65, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;

  transition: 0.5s;
}
.navbar-static-top .fa-exchange:hover{
  margin-top: 10px;
  margin:5px;
  padding:8px;
  color: #035463;
  scale: calc(1.1);
  text-decoration: none;
  background-color: #f7e331;
  box-shadow: 0 1px 3px 0 rgba(65, 65, 65, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.19);

  border-radius: 10px;
  opacity: 1;
}

.lang a{
  color:#ffffff !important;
  font-weight: 500;
}
.lang a:hover{
  background-color: #21beda !important;
  color:#fff !important;
  font-weight: 800;
}





/* //////// scroll ///////// */


::-webkit-scrollbar {
  width: .4rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2.5px 5px #fff;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: #fff
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(270deg, #d86800, #fffb00, #884201);
}

/* for Firefox */
html {
  scrollbar-color: var(--blue) #3d4a59;
}



/*//////////// header ///////////*/
header {
  position: fixed  !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
    color: #fff !important ;

}
.navbar{
    background:  #047488!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.logo{
  background-color:#ffffff !important ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.navbar-nav>.user-menu .user-image{
  border-radius: 3px;
}

.hidden-xs {
  color:#fff;
  margin-left: 5px;
  margin-right: 5px;

}


.dropdown {
  margin-right: 13px;

}



/* content */
.box {
  padding: 10px !important;
}


.content {padding-top: 75px;}

@media only screen and (max-width: 769px) {
  .content-header{
    margin-top: 50px;
  }
}

.color-palette {


    height: 25px !important;
    padding: 2px !important;
    width: 150px !important;

    padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;

    display: inline-block !important;
    padding: 6px 12px !important;
    margin-bottom: 0 !important;
    font-size: 12px !important;
    font-weight: normal !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
}


/* ///////////////////// print-report ///////////////////// */
/* #report {
  display: none;
}; */


@media print {
  .report_value{text-align: end;}
  .paragraph{
    display:flex;
    justify-content: space-between;
  }
  .report {
      background: #fff;
  };
  .report-info{
    display: flex !important;
    justify-content: space-between !important;
    text-align: center !important;
    align-items: center
  };
  span, strong, small{
    font-family:'cairo' !important;
  }
/* body {
    font-family: "cairo";
} */
}
